.navBar{
    border-bottom: 1px solid rgb(242, 225, 225);
    box-shadow: 1px 1px 1px rgb(234, 220, 220);
}



.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

.items{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 45px;
    margin: auto;
}