.container{
    width: 350px;
    height: 150px;
    position: absolute;;
    right: 40%;
    top: 60%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: none;
}


.buttons{
    display: flex;
    justify-content: space-between;
}

.buttons div{
   flex-basis: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.buttons a{
    border: 1px solid black;
    padding-inline: 13%;
    padding-block: 5%;
    text-decoration: none;
}