.dashboardContainer{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;;
}

.content{
    flex-basis: 68%;
    height: 100%;
    overflow-y: auto;
}